
footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: -60px;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

