<div class="partner">
	<div class="container">
		<h2>OUR PROUD PARTNERS</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="image1">
					<img style="width: 216px; height: 63px;" src="assets/images/university of pittsburgh.png">
				</div>
			</div>
			<div class="col-md-4">
				<div class="image2">
					<img style="left: 407px;  top: 199px; width: 130px; height: 54px;" src="assets/images/ibm.png">
				</div>
			</div>
			<div class="col-md-4">
				<div class="image3">
					<img style="left: 667px;  top: 126px; width: 209px; height: 209px;" src="assets/images/comcast.png">
				</div>
			</div>
		</div>
		<h2>AS FEATURED IN</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="image1">
					<img style="position: absolute; left: 80px; top: 24px; width: 236px; height: 45px;" src="assets/images/dhjladelphia.png">
				</div>
			</div>
			<div class="col-md-2">
				<div class="image2">
					<img style="position: absolute; left: 50px; top:6px; width: 130px; height: 80px;" src="assets/images/blavity.png">
				</div>
			</div>
			<div class="col-md-2">
				<div class="image3">
					<img style="position: absolute; left: 20px; top: 0px; width: 171px; height: 70px;" src="assets/images/technically.png">
				</div>
			</div>
			<div class="col-md-2">
				<div class="image4">
					<img style="position: absolute; left: 50px; top: 13px; width: 146px; height: 55px;" src="assets/images/philadelphia.webp">
				</div>
			</div>
			<div class="col-md-2">
				<div class="image5">
					<img style="position: absolute; left: 50px; top: 29px; width: 107px; height: 27px;" src="assets/images/forbes.png">
				</div>
			</div>
		</div>
		<div class="social">
			<ul>
				<li>
					<a href="https://twitter.com/_raisethebarr_"><img src="assets/images/twitter.png"></a>
				</li>
				<li>	
					<a href="https://www.instagram.com/_raisethebarr_/"><img src="assets/images/instagrm.png"></a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/11154328/"><img src="assets/images/linkedin.png"></a>
				</li>	
			</ul>
		</div>
	</div>
</div>