<div class="container">
        <div class="contact-form">
          <div class="row">
	        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 img_wrap">
	          	<img src="GoogleMap.jpg" class="img-responsive"><h1>GoogleMap image</h1>
	    	</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="address" style="font-size: 20px">
                  <li><i class="fa fa-map-marker"></i> <span> Address:</span><br>
                   <a href="https://www.google.com/maps/place/1900+Market+St,+Philadelphia,+PA+19103/@39.9531084,-75.1746308,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c636cdf64d51:0x62f348f6b80365eb!8m2!3d39.9531084!4d-75.1724421" style="color: black"> 1900 Market St, Philadelphia, PA </a><br>
                  </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span><br>
                  <a href="tel:(215)-874-7572" style="color: black">+1(215)-874-7572</a><br></li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><br>
                  <a href="contact@weraisethebarr.com" style="color: black">  contact@weraisethebarr.com</a></li>
                </ul>
            </div>
          </div>
        </div>
    </div>