<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>What is Raise the Barr?</h2>
        <p>Raise the Barr is a technology company that creates corporate diversity and inclusion training that help employees gain the knowledge to create a more unified culture. Our multifaceted approach uses artificial intelligence allowing employees to engage by asking questions. At Raise the Barr, we believe what was once exclusive is now inclusive. </p>
      </div>
    </div>
</div>