
<div class="company">
	<div class="container">
	<!-- Example row of columns -->
		<h1>Why Companies Love Us</h1>
		<div class="image-row">
			<div>
				<div class="col-md-4">
					<img src="assets/images/technical.png" class="images"> 
				</div>
				<div class="col-md-4">
					<img src="assets/images/online.png" class="images"> 
				</div>
				<div class="col-md-4">
					<img src="assets/images/integrate.png" class="images"> 
				</div>
			</div>
		</div>

		<div class="text-row">
			<div class="col-md-4">
				<h2>TECHNICAL</h2>
				<p>TrainBot is the best technical and interactive solution to create a more inclusive workplace</p>
			</div>
			<div class="col-md-4">
				<h2>E-LEARNING</h2>
				<p>TrainBot is an online for company employees to learn the most effect Diversity & Inclusion methods</p>
			</div>
			<div class="col-md-4">
				<h2>EASY TO USE & INTEGRATE</h2>
				<p>TrainBot is an easy, quick, and effective Training Solution that can be plugged into companies current training system</p>
			</div>
		</div>

	</div> <!-- /container -->
</div>
