
<div class="service">
	<div class="container">
		<h1>SERVICES WE OFFER</h1>
		<div class="image-row">
			<div class="col-md-4">
				<img src="assets/images/training.png" class="images"> 
			</div>
			<div class="col-md-4">
				<img src="assets/images/chatbot.webp" class="images"> 
			</div>
			<div class="col-md-4">
				<img src="assets/images/updatedTrainingSoftware.webp" class="images"> 
			</div>
		</div>

		<div class="text-row">
			<div class="col-md-4">
				<h4>Diversity & Inclusion Training</h4>
			</div>
			<div class="col-md-4">
				<h4>Conversational Chatbot Software</h4>
			</div>
			<div class="col-md-4">
				<h4>Updated Training Software</h4>
			</div>
		</div>

	</div> <!-- /container -->
</div>