
<div class="screen">
	<div class="container">

		<h1>Enterprise Training Utilizing an Artifical Intelligence Powered Chatbot</h1>

		<br>

		<p class="lead">The most interactive and engaging diversity and inclusion training  that develops company employees to learn about diversity and inclusion through a more interactive experience.</p>

		<div class="image">
			<img src="assets/images/ComputerScreen.png" class="images">    
		</div>

		<div class="button-row">
			<div class="col-md-4">
				<button type="button" class="btn btn-secondary btn-sl">Request a Demo</button>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-secondary btn-sl">Test our Chatbot</button>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-secondary btn-sl">Join our Beta</button>
			</div>
		</div>

	</div>

</div>