<div class="container">
<div class="row">
  <div class="col-xs-12">
  	<h1>Request a Demo!</h1><br>
    <form>
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-3 form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            #emailInput>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="message">Message</label>
          <textarea
            type="text"
            id="message"
            class="form-control" 
            rows="5"
            #messageInput></textarea>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onSendRequest()">Send</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
