
<div class="container">
<main role="main">

<!-- Jumbotron -->
<div class="jumbotron">
  <h2>Enterprise Training Utilizing an Artifical Intelligence Powered Chatbot</h2>
  <br>
  <p class="lead">The most interactive and engaging diversity and inclusion training  that develops company employees to learn about diversity and inclusion through a more interactive experience.</p>
  <div class="image">
    <img src="assets/images/ComputerScreen.png" class="img-responsive img_img">    
  </div>
</div>

</main>
</div>


<!-- <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
    <img src="assets/images/ComputerScreen.png" class="img-responsive img_img">
  </div><br>
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
    <p>Description will be put here ... </p>
  </div><br><br><br><br><br><br>
</div>
<br><br><br><br><br><br>
<div class="home_display">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
      <p>Description will be put here ... </p>
    </div><br>
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
      <img src="assets/images/ComputerScreen.png" class="img-responsive img_img">
    </div><br>
  </div>  
</div> -->

<app-company></app-company>
