


<!-- <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
    <img src="assets/images/ComputerScreen.png" class="img-responsive img_img">
  </div><br>
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
    <p>Description will be put here ... </p>
  </div><br><br><br><br><br><br>
</div>
<br><br><br><br><br><br>
<div class="home_display">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
      <p>Description will be put here ... </p>
    </div><br>
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
      <img src="assets/images/ComputerScreen.png" class="img-responsive img_img">
    </div><br>
  </div>  
</div> -->
<app-screen></app-screen>
<app-company></app-company>
<app-service></app-service>
<app-partner></app-partner>
